@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color: #0ccac4;
	font-style: italic;
}

p {
	color: black;
	font-family: 'helvetica neue', helvetica, sans-serif;
	font-style: italic;
}
